<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614834936291-08onjuj7bor73m541sjjif1a8t47f22j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614834936291-08onjuj7bor73m541sjjif1a8t47f22j</string>
	<key>API_KEY</key>
	<string>AIzaSyB5smQtpkJZCJZnnGFD5RRLMaa8WCO0asc</string>
	<key>GCM_SENDER_ID</key>
	<string>614834936291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wewandr.app</string>
	<key>PROJECT_ID</key>
	<string>brave-smile-236417</string>
	<key>STORAGE_BUCKET</key>
	<string>brave-smile-236417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614834936291:ios:abc21e7b94688933</string>
	<key>DATABASE_URL</key>
	<string>https://brave-smile-236417.firebaseio.com</string>
</dict>
</plist>